

/* GENERAL */

body{
  /* background: linear-gradient(to bottom, rgb(0,150,136) 20%, rgb(217,219,214) 80%); */
  background: linear-gradient(to bottom, rgb(0,150,136) 0 16%, rgb(218,219,211) 0 84%);
}

.container{
  height:  calc(100vh - 60px);
  margin: 30px auto
}

.main-section{
  width: calc(100% / 12 * 8);
}

.sidebar{
  width: calc(100% / 12 * 4);
}

header{
  height: 100px;
}

.sidebar-header{
  height: 100px;
}

.notifications-options{
  height: 80px;
}

.contacts-searchbar{
  height: 60px;
}

.contacts{
  height: calc(100% - 240px);
  overflow: auto;
}

main{
  height: calc(100% - 100px);
}

.message{
  height: calc(100% - 120px);
  overflow: auto;
}

.send-options{
  height: 120px;
}


/* UTILITY */
.bsb{
  border: 1px solid black;
}