/** CUSTOM PROPERTIES **/
:root {
  --primary-bgcolor: rgb(234,234,234);
  --icons-color: rgb(177,177,177);
  --notifications-option-bgcolor: rgb(142,218,252);
  --grey-font: rgb(100,136,158);
  --icons-bgcolor: rgb(242,251,255);
  --new-message-options-color: rgb(107,115,118);
  --new-message-options-bgcolor: rgb(243,238,234);
  --sent-message: rgb(213,249,186);
  --received-message: white;
}

/** GENERAL **/
body{
  height: 100vh;
  background-image: linear-gradient( rgb(0,150,136) 0 15%, rgb(218,219,211) 0 85%);
}


.container{
  height:  100%;
  padding: 30px 0;
}

.fa-solid{
  color: var(--icons-color);
}

button{
  background-color: white;
}





/** UTILITY **/
.contacts-pic{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.icon-background{
  color: var(--icons-bgcolor);
}

.grey-font{
  color: var(--grey-font);
}

.message-date{
  font-size: 8px;
  text-align: end;
}

.message{
  min-width: 150px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 0.25rem;
}

.sent{
  background-color: var(--sent-message);
  align-self: end;
}

.received{
  background-color: var(--received-message);
  align-self: start;
}


/** SIDEBAR **/
.sidebar{
  width: calc(100% / 12 * 6);
}

.sidebar-header{
  height: 100px;
  background-color: var(--primary-bgcolor);
}

.notifications-options{
  height: 80px;
  background-color: var(--notifications-option-bgcolor);
}



.contacts-searchbar {
  height: 55px;
  background-color: var(--primary-bgcolor);
}

.contacts{
  height: calc(100% - 235px);
  overflow: auto;
  background-color: white;
}

.contacts li{
  cursor: pointer;
}




/** MAIN SECTION **/

.main-section{
  width: calc(100% / 12 * 8);
}


/*HEADER */
header{
  height: 100px;
  background-color: var(--primary-bgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* MAIN */
main{
  height: calc(100% - 100px);
}


.greetings{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-contact {
  display: flex;
  align-items: space;
  gap: 0.5rem ;
  
}

.chat-section{
  height: calc(100% - 60px);
  overflow: auto;
  background-image: url(../img/mine.jpg);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.new-message-options{
  height: 60px;
  background-color: var(--new-message-options-bgcolor);
}

.new-message-options i{
  color: var(--new-message-options-color);
}






